.calculator
{
    padding: 25px;
    display: flex;
    justify-content: center;
}
.heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size: 45px;
}
button{
    color:white;
    background-color:red;
    height:80px;
    width:80px;
    border-radius:20px;
    border-width:0px;
    border-color:red;
    margin:10px;
    font-size: 40px;
}
#display{
    border-radius: 20px;
    height:70px;
    width:100%;
    text-align: right;
    font-size: 40px;
    font-style: "Roboto";
    border-width:0px;
}